---
layout: default
title: EricToulson
---

<!-- <div class="jumbotron">
  <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
</div>
 -->
<div class="narrow">
  <div class="posts">
    <ul>
      {% for post in site.posts %}
        <li class="post-item">
          {% if post.img %}
            <img class="post-img" src="{{ post.img }}">
          {% endif %}
          <h3 class="post-title">
            <a href="{{ post.url }}" title="{{ post.title }}">
              {{ post.title }}
            </a>
          </h3>
          <span>{{ post.date | date_to_string }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>